<div class="span8 center">
  <%= image_tag "headshot_2.jpg", size: "547x547", class: "images" %>
</div>

<div class="span4 center">
  <h1>Guess my occupation and win a FREE gift!</h1>
  <%= render 'form' %>
  <h2>I can make you feel an array of emotions, including anxiousness, joy, and sexual desire.</h2>
</div>
  
